{% extends "base.html" %}

{% block head %}
    <title>Flask Tutorial with inheritance</title>
{% endblock %}
{% block body %}
    <h1>Flask Tutorial with inheritance</h1>
    <p>This is a Flask tutorial to test the Flask</p>
    <a href="https://github.com/szpeto" target="_blank">GitHub</a>

    <table>
        <tr>
            <th>id</th>
            <th>description</th>
            <th>category</th>
            <th>price</th>
            <th>date</th>
        </tr>
        <tr>
            <td>01</td>
            <td>Abc</td>
            <td>Groceries</td>
            <td>11.11</td>
            <td>2025-06-05</td>
        </tr>
    </table>
    <form action="">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add entry" id="btn_add">
    </form>
{% endblock %}